# caddy fmt --overwrite Caddyfile

# marineenergy.app ----
# - [DNS](https://account.squarespace.com/domains/managed/marineenergy.app/dns/dns-settings) as ben@ecoquants.com
#   * [x] api.
#   * [ ] geo.
#   * [x] rstudio.
#   * [x] shiny.
#   * [x] www.
#   * [x] www-dev.
# - Switch to [DNS | Records | marineenergy.app | bdbest@gmail.com's Account | Cloudflare](https://dash.cloudflare.com/10dd4c59f6624f7b9ee0e25385b1e930/marineenergy.app/dns/records?recordsSort=desc%3Acontent)

# globally https://caddyserver.com/docs/caddyfile/options#acme-dns
{
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

api.marineenergy.org {
  tls {
    resolvers 8.8.8.8 8.8.4.4
  }

	reverse_proxy rstudio:8888
}

# file.marineenergy.app {
# 	root * /share/public
# 	file_server browse {
# 	  # serve *.zst, *.br or *.gz if file exists and client supports precompressed files
# 	  precompressed zstd br gzip
#   }
# }

# pgadmin.marineenergy.app {
# 	reverse_proxy pgadmin:8088
# }

rstudio.marineenergy.app {
	reverse_proxy rstudio:8787
}

shiny.marineenergy.app {
	reverse_proxy rstudio:3838
}

www.marineenergy.org {
  #tls {
      # fix: [ACME DNS challenge fails...](https://caddy.community/t/acme-dns-challenge-fails-after-cname-ns-internal-redirection/20288/5)
      #   - https://caddyserver.com/docs/caddyfile/directives/tls#resolvers
      #     use [Google Public DNS](https://developers.google.com/speed/public-dns)
   #   resolvers 8.8.8.8 8.8.4.4
   #}

  redir https://{labels.1}.{labels.0}{uri}
}

marineenergy.org {
	root * /share/github/www
 	file_server browse {
	  precompressed zstd br gzip
  }
}

www-dev.marineenergy.org {
	root * /share/github/www_dev
 	file_server browse {
	  precompressed zstd br gzip
  }
}
