marineenergy.app {
	root * /share/github/www
 	file_server browse {
	  precompressed zstd br gzip
  }
}

www-dev.marineenergy.app {
	root * /share/github/www_dev
 	file_server browse {
	  precompressed zstd br gzip
  }
}

api.marineenergy.app {
	reverse_proxy plumber:8000
}

rstudio.marineenergy.app {
	reverse_proxy rstudio:8787
}

shiny.marineenergy.app {
	reverse_proxy rstudio:3838
}
